<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminBoard">

    <!-- 전체화면 -->
	<select id="selectAll" parameterType="Map" resultType="Map">
    select *
    from board
	inner join board_answer
    on board.board_id = board_answer.BOARD_ID
    ;  
	</select>

      <!-- 입력 버튼  -->
	<insert id="insert" parameterType="Map" >
        insert into db_fitness.board
        (NOTICE_ID, NOTICE_TITLE, ID, NOTICE_DATE, NOTICE_VIEWS, NOTICE_CONTENTS)
        values
        (#{NOTICE_ID}, #{NOTICE_TITLE}, #{ID}, now(), #{NOTICE_VIEWS}, #{NOTICE_CONTENTS})
    </insert>


   
    <!-- 게시판 삭제 버튼  -->
    <delete id="delete" parameterType="Map">
        DELETE FROM db_fitness.board
       WHERE BOARD_ID = #{BOARD_ID}
    </delete>


    <!-- 검색 with pagination -->
	<select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT *
        FROM db_fitness.board
        WHERE 1 = 1
        <choose>
            <when test="search == 'ID'">
            and ID like CONCAT(#{words}, '%')
            </when>
            <when test="search == 'TITLE'">
            and TITLE like CONCAT(#{words}, '%')
            </when>
        </choose>  
        limit #{pageBegin}, #{pageScale} 
        ;
	</select>

    <!-- total count -->
	<select id="selectTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        from db_fitness.board
        ;
	</select>

   


 </mapper>