<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminBoard"> 
        
    <!--call AdminBoard.selectBoard 화면 -->


    <!-- 전체화면 -->
	<select id="selectAll" parameterType="Map" resultType="Map">
    select *
    from board
	inner join board_answer
    on board.board_id = board_answer.BOARD_ID
      <if test="pageScale != null">
            ORDER BY DATE DESC
            LIMIT #{pageBegin}, #{pageScale}
    </if>
    ;  
	</select>

      <!-- 입력 버튼  -->
	<insert id="insert" parameterType="Map" >
        insert into db_fitness.board
        (NUMBER, ID, TITLE,CONTENTS, DATE,VIEWS,BOARD_ID)
        values
        (#{NUMBER}, #{ID}, #{TITLE},  #{CONTENTS}, #{DATE},#{VIEWS} ,#{BOARD_ID})
    </insert>


   
    <!-- 게시판 삭제 버튼  -->
    <delete id="delete" parameterType="Map">
    DELETE FROM db_fitness.board
    WHERE BOARD_ID = #{BOARD_ID}
    </delete>

    


    <!-- 회원 정보 삭제 -->
    <delete id="memdelete" parameterType="Map">
    DELETE FROM board
    WHERE ID = #{ID};
    </delete>

    <!-- 검색 with pagination -->
	<select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT *
        FROM db_fitness.board
        WHERE 1 = 1
        <choose>
            <when test="search == 'ID'">
            and ID like CONCAT(#{words}, '%')
            </when>
            <when test="search == 'TITLE'">
            and TITLE like CONCAT(#{words}, '%')
            </when>
        </choose>  
        limit #{pageBegin}, #{pageScale} 
        ;
	</select>

    <!-- total count -->
	<select id="selectTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        from db_fitness.board
        ;
	</select>

    <!-- Admin_Answer입력 버튼  -->
    <insert id="insertAnswer" parameterType="Map" >
        insert into db_fitness.board
        (ADMIN_ID, ANSWER, BOARD_ANSWER_ID, BOARD_ID)
        values
        (#{ADMIN_ID}, #{ANSWER}, #{BOARD_ANSWER_ID}, #{BOARD_ID})
    </insert>

    <!-- detail  -->
	<select id="selectSearch" parameterType="Map" resultType="Map">
        SELECT * 
        FROM db_fitness.board
        where BOARD_ID = #{BOARD_ID}
        ;
	</select>

 </mapper>