<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminReserve">
    <!-- 모든 회원 예약 정보 조회 -->
    <select id="reserveselectAll" parameterType="Map" resultType="Map">
    SELECT *
    FROM reservation AS res
        INNER JOIN company AS com
        ON res.COMPANY_ID = com.COMPANY_ID
        INNER JOIN member_information AS mem
        ON res.ID = mem.ID
    </select>

    <!-- 예약 정보 삭제 -->
	<delete id="reservedelete" parameterType="Map">
        DELETE FROM reservation
        where ID = #{ID};
	</delete>

    <!-- 에약 정보 수정 -->
    <update id="reserveupdate" parameterType="Map">
        update reservation
        set RESERVATION_DATE = #{RESERVATION_DATE},
            RESERVATION_TIME = #{RESERVATION_TIME}
        where ID = #{ID};
    </update>
    <select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT * 
        FROM reservation AS res
        INNER JOIN company AS com
        ON res.COMPANY_ID = com.COMPANY_ID
        INNER JOIN member_information AS mem
        ON res.ID = mem.ID
        <choose>
            <when test="search == 'NAME'">
            and mem.NAME like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'ID'">
            and mem.ID like CONCAT('%', #{words}, '%')
            </when>
        </choose>  
        limit #{pageBegin}, #{pageScale}
        ;
	</select>

        <!-- 전체 검색 -->
	<select id="selectTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        FROM reservation AS res
        INNER JOIN company AS com
        ON res.COMPANY_ID = com.COMPANY_ID
        INNER JOIN member_information AS mem
        ON res.ID = mem.ID
        <choose>
            <when test="search == 'NAME'">
            and mem.NAME like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'ID'">
            and mem.ID like CONCAT('%', #{words}, '%')
            </when>
        </choose>  
        where 1 = 1       
        ;
	</select>

</mapper>