<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminPage">
    <!-- 회원 전체 -->
	<select id="selectAll" parameterType="Map" resultType="Map">
    SELECT *
    FROM member_information AS MEM
	    INNER JOIN board
        ON MEM.ID = board.ID
        INNER JOIN board_answer
        ON board.BOARD_ID = board_answer.BOARD_ID;
	</select>

    <!-- 회원 상세 정보 -->
    <select id="selectDetail" parameterType="Map" resultType="Map">
    SELECT *
    FROM member_information as mem
    	INNER JOIN gender as gen
        ON mem.gender_id = gen.gender_id
    WHERE ID = #{ID};
    </select>

    <!-- 회원 정보 삭제 -->
    <delete id="memdelete" parameterType="Map">
    DELETE FROM member_information
    WHERE ID = #{ID};
    </delete>

    <insert id="insert" parameterType="Map" >
       insert into auths(UNIQUE_ID,ID)
        values
        (#{UNIQUE_ID},#{ID});
    </insert>

    <select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT * 
        FROM member_information as mem
    	INNER JOIN gender as gen
        ON mem.gender_id = gen.gender_id
        <choose>
            <when test="search == 'NAME'">
            and mem.NAME like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'ID'">
            and mem.ID like CONCAT('%', #{words}, '%')
            </when>
        </choose>  
        limit #{pageBegin}, #{pageScale}
        ;
	</select>

        <!-- 전체 검색 -->
	<select id="selectTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        FROM member_information as mem
    	INNER JOIN gender as gen
        ON mem.gender_id = gen.gender_id
        <choose>
            <when test="search == 'NAME'">
            and mem.NAME like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'ID'">
            and mem.ID like CONCAT('%', #{words}, '%')
            </when>
        </choose>  
        where 1 = 1       
        ;
	</select>

    <select id="genderstatic" parameterType="Map" resultType="Map">
    select
    (select count(*)
    from member_information
    where GENDER_ID like 'gen01') as male,
    (select count(*)
    from member_information
    where GENDER_ID like 'gen02') as female
    ;
    </select>

</mapper>