<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminBoardAnswer">

    <!-- 전체  -->
	<select id="selectAll" parameterType="Map" resultType="Map">
      SELECT  ADMIN_ID,ANSWER,BOARD_ANSWER_ID,BOARD_ID
      FROM db_fitness.board_answer
      WHERE 1 = 1;
	</select>


    <!-- Answer 삭제
    <delete id="delete" parameterType="Map">
       DELETE FROM db_fitness.board_answer
       WHERE BOARD_ANSWER_ID = #{BOARD_ANSWER_ID}
    </delete> -->

    <!-- 회원 정보 삭제
    <delete id="memdelete" parameterType="Map">
    DELETE FROM board_answer
    WHERE BOARD_ID = #{BOARD_ID};
    </delete> -->

    <!-- 입력 버튼  -->
	<insert id="insert" parameterType="Map" >
        insert into board_answer (ADMIN_ID,ANSWER,BOARD_ANSWER_ID,BOARD_ID)
        value ('ADMIN01', '답변5', 'uuid', 'BOARD05');
    </insert>


    <!-- 검색 with pagination
	<select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT *
        FROM db_fitness.board
        WHERE 1 = 1
        <choose>
            <when test="search == 'ID'">
            and ID like CONCAT(#{words}, '%')
            </when>
            <when test="search == 'TITLE'">
            and TITLE like CONCAT(#{words}, '%')
            </when>
        </choose>  
        limit #{pageBegin}, #{pageScale} 
        ;
	</select> -->

    <!-- total count
	<select id="selectTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        from db_fitness.board
        ;
	</select> -->

 </mapper>