<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">

    <!-- 전체 -->
	<select id="selectAll" parameterType="Map" resultType="Map">
        SELECT NOTICE_TITLE, ID, NOTICE_DATE, NOTICE_VIEWS
        FROM db_fitness.notice
        where 1 = 1 ;   
	</select>

    <!-- 검색 with pagination -->
	<select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT * 
        FROM db_fitness.notice
        where 1 = 1 
        <choose>
            <when test="search == 'NOTICE_TITLE'">
            and NOTICE_TITLE like CONCAT(#{words}, '%')
            </when>
            <when test="search == 'NOTICE_CONTENTS'">
            and NOTICE_CONTENTS like CONCAT(#{words}, '%')
            </when>
            <when test="search == 'ID'">
            and ID like CONCAT(#{words}, '%')
            </when>
        </choose>  
        limit #{pageBegin}, #{pageScale} 
        ;
	</select>

    <!-- total count -->
	<select id="selectTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        from db_fitness.notice
        ;
	</select>

    <!-- 입력 -->
	<insert id="insert" parameterType="Map" >
        insert into db_fitness.notice
        (NOTICE_ID, NOTICE_TITLE, ID, NOTICE_DATE, NOTICE_VIEWS, NOTICE_CONTENTS)
        values
        (#{NOTICE_ID}, #{NOTICE_TITLE}, #{ID}, now(), #{NOTICE_VIEWS}, #{NOTICE_CONTENTS})
    </insert>

    <!-- 검색 -->
	<select id="selectSearch" parameterType="Map" resultType="Map">
        SELECT * 
        FROM db_fitness.notice
        where 1 = 1 
        <choose>
            <when test="search == 'NOTICE_TITLE'">
            and NOTICE_TITLE like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'NOTICE_CONTENTS'">
            and NOTICE_CONTENTS like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'ID'">
            and ID like CONCAT('%', #{words}, '%')
            </when>
        </choose>
        ;
	</select>

    <!-- 회원 정보 삭제 -->
    <delete id="memdelete" parameterType="Map">
    DELETE FROM db_fitness.notice
    WHERE ID = #{ID};
    </delete>
 </mapper>