<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
        <!-- 리뷰 조회 -->
        <select id="selectAll" parameterType="Map" resultType="Map">
        select *
        from review as rev
                inner join company as com
                on rev.COMPANY_ID = com.COMPANY_ID;
        </select>

        <!-- 리뷰 작성 -->
        <insert id="insert" parameterType="Map">
        insert into review
        (REVIEW_ID, REVIEW, GRADE, ID, COMPANY_ID)
        values
        (#{REVIEW_ID}, #{REVIEW}, #{GRADE}, #{ID}, #{COMPANY_ID});
        </insert>
</mapper>
