<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Review">
        <!-- 리뷰 조회 -->
        <select id="selectAll" parameterType="Map" resultType="Map">
        select *
        from review as rev
                inner join company as com
                on rev.COMPANY_ID = com.COMPANY_ID;
        </select>

        <!-- 리뷰 작성 -->
        <insert id="insert" parameterType="Map">
        insert into review
        (REVIEW_ID, REVIEW, GRADE, ID, COMPANY_ID)
        values
        (#{REVIEW_ID}, #{REVIEW}, #{GRADE}, #{ID}, #{COMPANY_ID});
        </insert>

        <!-- 시설명 조회 -->
        <select id="selectCompanyName" parameterType="Map" resultType="Map">
        select COMPANY_NAME
        from COMPANY
        ;
        </select>
        <!-- 검색어의 유무에 따른 처리 -->
        <select id="CompanyNameSearch" parameterType="Map" resultType="Map">
        select COMPANY_NAME
        from COMPANY
        where 1 = 1
        <choose>
                <when test="words != null">
                and COMPANY_NAME like CONCAT('%', #{words}, '%')
                </when>
                <when test="words == null">
                or COMPANY_NAME
                </when>
        </choose>
        ;
        </select>

         <!-- 시설 및 작성자 검색 total count -->
	<select id="selectTotal" parameterType="Map" resultType="int">
        select count(*) as cnt
        from review as rev
                inner join company as com
                on rev.COMPANY_ID = com.COMPANY_ID
        <choose>
            <when test="search == 'COMPANY_NAME'">
            and com.COMPANY_NAME like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'ID'">
            and rev.ID like CONCAT('%', #{words}, '%')
            </when>
        </choose>
        ;
	</select>
        <select id="selectSearchWithPagination" parameterType="Map" resultType="Map">
        SELECT * 
        FROM review as rev
                inner join company as com
                on rev.COMPANY_ID = com.COMPANY_ID
        <choose>
            <when test="search == 'COMPANY_NAME'">
            and com.COMPANY_NAME like CONCAT('%', #{words}, '%')
            </when>
            <when test="search == 'ID'">
            and rev.ID like CONCAT('%', #{words}, '%')
            </when>
        </choose>
        limit #{pageBegin}, #{pageScale}
        ;
	</select>
</mapper>
