.logo {
    font-weight: bold;
    font-size: 24px;
  }

  /* 검색창 스타일링 */
  .search-input {
    display: flex;
    justify-content: flex-end;
    flex-basis: 70%;
    max-width: 500px;
  }

  .carouselExampleControls {
    height: 5%;
  }

  /* Footer 스타일링 */
  .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }

  .navbar a {
    font-size : 18px;
  }
  