.logo {
  font-weight: bold;
  font-size: 24px;
}

/* 검색창 스타일링 */
.search-input {
  display: flex;
  justify-content: flex-end;
  flex-basis: 70%;
  max-width: 500px;
}

.navbar-nav .nav-link {
  color: white;
}

.carouselExampleControls {
  height: 100%;
}

/* Footer 스타일링 */
.footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar a {
  text-decoration-color: aliceblue;
  font-size: 17px;
}

.footer-section.links a {
  color: white;
  text-decoration: white;
  font-size: 12px;
}

.footer-bottom p {
  font-size: 12px
}

.footer-center p {
  font-size: 13px;
  margin: 0;
}

#callcenter p {
  font-size: 14px;
}

#infors p {
  margin: 0;
  font-size: 12px;
}

