#map-container {
  height: 400px;
  margin-bottom: 20px;
}


  /* 검색창 스타일링 */
  .search-notice {
      display: flex;
      justify-content: flex-end;
      flex-basis: 70%;
      max-width: 500px;
  }
