.logo {
    font-weight: bold;
    font-size: 24px;
  }

  /* 검색창 스타일링 */
  .search-input {
    display: flex;
    justify-content: flex-end;
    flex-basis: 70%;
    max-width: 500px;
  }

  .carouselExampleControls {
    height: 5%;
  }

  /* Footer 스타일링 */
  .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  .navbar a {
    font-size : 18px;
  }

  .card-title {
    font-size: 30px; /* 제목 텍스트 크기 */
    font-weight: bold; /* 제목 텍스트 굵기 */
    text-align: center
  }
  
  .card-content {
    font-size: 16px; /* 내용 텍스트 크기 */
    font-weight: normal; /* 내용 텍스트 굵기 */
  }

  .my-custom-calendar {
  background-color: #ffffff;  /* 달력 배경색 */
  color: #000000;  /* 텍스트 색상 */
  border: 1px solid #ddd;  /* 테두리 스타일 */
}

.my-custom-calendar .datepicker-days td {
  font-weight: bold;  /* 날짜 텍스트 굵게 표시 */
}

.my-custom-calendar .datepicker table tr td span.active {
  background-color: #ffe100;  /* 선택된 날짜 배경색 */
  color: #fff;  /* 선택된 날짜 텍스트 색상 */
}


.footer-section.links a {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.footer-bottom p {
  font-size: 12px
}

.footer-center p {
  font-size: 13px;
  margin: 0;
}

#callcenter p {
  font-size: 14px;
}

#infors p {
  margin: 0;
  font-size: 12px;
}
